body{
    font: 62.5% "Verdana", sans-serif;
    background: #000000;
    margin: 0;
}

#container {
    display: none;
}

/* id */
#menu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 250px;
    border: 0px;
}

#wican-logo {
    width: 100%;
    float: left;
}

#userbar {
    background: #E0E0E0;
    position: absolute;
    top: 75px;
    left: 0px;
    width: 100%;
    height: 60px;
    border-top-style: solid;
}

#projectcontrol {
    background: #E0E0E0;
    position: absolute;
    top: 138px;
    left: 0px;
    width: 100%;
    height: 210px;
    border-top-style: solid;
}

#tree {
    position: absolute;
    top: 351px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-top-style: solid;
}

#messagecontrol {
    background: #E0E0E0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    border-top-style: solid;
}

#workspace {
    position: fixed;
    top: 0.3vh;
    left: 254px;
    height: 99.4vh;
    width: calc( 100% - 254px);
    border: 0px;
}

.userbar {
    padding: 5px;
    padding-bottom: 0px;
}

#greeting {
    font-size: 20px;
}

#logout-div {
    position: absolute;
    top: 27px;
    left: 0px;
}

#help-div {
    position: absolute;
    top: 27px;
    right: 0px;
}


.btnwidth {
    width: 115px;
}

#createProject-div {
    position: absolute;
    top: 0px;
    left: 0px;
}

#removeProject-div {
    position: absolute;
    top: 0px;
    right: 0px;
}

#openProject-div {
    position: absolute;
    top: 27px;
    left: 0px;
}

#runProject-div {
    position: absolute;
    top: 27px;
    right: 0px;
}

#createWorkspace-div {
    position: absolute;
    top: 54px;
    left: 0px;
}

#removeWorkspace-div {
    position: absolute;
    top: 54px;
    right: 0px;
}

#creatEcu-div {
    position: absolute;
    top: 93px;
    left: 0px;
}

#removeEcu-div {
    position: absolute;
    top: 93px;
    right: 0px;
}

#createMessage-div {
    position: absolute;
    top: 120px;
    left: 0px;
}

#removeMessage-div {
    position: absolute;
    top: 120px;
    right: 0px;
}

#editMessage-div {
    position: absolute;
    top: 147px;
    left: 0px;
}

#uploadDbcFile-div {
    position: absolute;
    top: 147px;
    right: 0px;
}

#createView-div {
    position: absolute;
    top: 174px;
    left: 0px;
}

#createControl-div {
    position: absolute;
    top: 174px;
    right: 0px;
}


    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }